<p>error-page works!</p>

<ul>
   <li>
      <a href="/auth/login">Ir a login</a>
   </li>
   <li>
      <a href="/auth/registro">Ir a registro</a>
   </li>
   <li>
      <a href="/heroes/listado">Ir a listado</a>
   </li>
   <li>
      <a href="/heroes/agregar">Ir a agregar</a>
   </li>
   <li>
      <a href="/heroes/editar/123">Ir a editar 123</a>
   </li>
   <li>
      <a href="/heroes/buscar">Ir a buscar</a>
   </li>
   <li>
      <a href="/heroes/123">Ir a 123</a>
   </li>
</ul>